body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  background: transparent;
  padding: 0;
  border: 1px solid transparent;
}

.container {
  width: 1141px;
  margin: 0 auto;
}

.header {
  position: relative;
  height: 123px;
}

.logo, .contacts, .menu {
  position: absolute;
  top: 15px;
}

.menu {
  left: 200px;
}

.menu__item {
  display: inline-block;
  margin-right: 54px;
}

.menu__link {
  font-size: 14px;
  font-weight: 400;
  color: #FFF;
}

.menu__item:last-child {
  margin-right: 0;
}

.contacts {
  right: 0;
}

a.contacts__tel {
  display: block;
  font-size: 26px;
  color:#FFF;
  font-weight: 400;
}
.contacts__graph {
  position: absolute;
  right: 0;
  font-size: 13px;
  text-decoration-line: underline;
  color:#FFF;
  line-height: 20px;
  font-weight: 400;
}

.preview__title {
  margin-top: 131px;
  font-size: 72px;
  display: inline-block;
  width: 511px;
  color:#FFF;
  font-weight: 700;
}

.preview__text {
  font-size: 18px;
  margin-top: 27px;
  color:#FFF;
  font-weight: 400;
  line-height: 20px;
}

.button {
  background: #F5170E;
  border-radius: 35px;
  height: 55px;
  width: 168px;
  text-transform: uppercase;
  color:#FFF;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.preview__button {
  margin-top: 33px;
}

.hot-tours__title-text {
  display: inline-block;
  font-size: 36px;
  margin-top: 246px;
  font-weight: 700;
  line-height: normal;
  color:#FFF;
}

.hot-tours__item {
  display: inline-block;
  width: 359px;
  margin-right: 27px;
  margin-top: 51px;
  background:#FFF;
}

.hot-tours__item:last-child {
  margin-right: 0;
}

.hot-tours__content {
padding: 33px 20px 26px;
}

.hot-tours__subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}

.hot-tours__options-item {
  display: inline-block;
  margin-right: 28px;
  margin-top: 23px;
}

.hot-tours__options-item:last-child {
  margin-right: 0;
}

.hot-tours__options-text {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #666;
}
.hot-tours__options-icon {
  margin-right: 10px;
}

.hot-tours__text {
  font-size: 14px;
  margin-top: 25px;
  line-height: 21px;
  font-weight: 400;
  color: #303030;
}

.hot-tours__button {
margin-top: 25px;
}

.button--border { 
  background:transparent;
  border-color: #F5170E;
  color:#F5170E;
}

.news__title {
  font-size: 36px;
  margin-top: 127px;
  color: #FFF;
  font-weight: 700;
  line-height: normal;
}

.news__item{
  display: inline-block;
  width: 555px;
  margin-top: 51px;
  margin-right: 25px;
  height: 394px;
  vertical-align: top;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.news__item:last-child{
  margin-right: 0;
}

.news__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.news__content { 
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 30px;
  height: 150px;
}

.news__date {
  font-size: 14px;
  color: #FFF;
  line-height: 21px;
  font-weight: 400;
}

.news__subtitle {
  color: #FFF;
  font-size: 24px;
  line-height: 36px;
  margin-top: 12px;
}

.news__text {
  color: #FFF;
  font-size: 16px;
  line-height: 21px;
  margin-top: 4px;
}

.paginator {
  text-align: center;
  margin-top: 58px;
}

.paginator__display, .paginator__item, .paginator__list {
  display: inline-block;
}
.paginator__display {
  color: #FFF;
  font-weight: 400;
  line-height: 20px;
  font-size: 16px;
}
.paginator__link {
  display: inline-block;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background:transparent;
  font-weight: 700;
  font-size: 16px;
  color:#FFF;
  transition: .4s;
}

.paginator__link:hover {
  color:#F5170E;
  background:#FFF;
}

.about::before {
  content:"";
  display:inline-block;
  vertical-align: top;
  width: 490px;
  height: 505px;
  background: url(/img/gates.png) center center / cover no-repeat;
  margin-top: 152px;
}

.about__content {
background:url(/img/mountains.png);
width: 785px;
height: 455px;
padding: 70px 80px;
display:inline-block;
vertical-align: top;
margin-left: -142px;
margin-top: 258px;

}

.about__title {
  font-size: 36px;
  font-weight: 700;
}

.about__text {
  font-size: 16px;
  line-height: 27px;
  margin-top: 37px;
}

.about__button {
  margin-top: 43px;
}
.footer {
  position: relative;
  height: 128px;
  margin-top: 53px;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__list {
  position: absolute;
  top: 14px;
  right: 300px;
}
.socials__link {
  display: block;
  height: 36px;
  width: 36px;
}

.contacts__desc {
  font-size: 11px;
  line-height: 20px;
  font-weight: 400;
  color: #9A9A9A;
  text-align: right;
}


.footer-container__content {
  border-top: 1px solid  #FFF;
  opacity: 0.1;
  margin-top: 53px;
}
.main-page-wrapper {
 background: url(./img/1.png) center top no-repeat, url(./img/2.png) bottom  center no-repeat;
 background-color: #001821;
}